go 1.25.0

use ./

// Local development replace directives for sibling module checkouts.
replace (
	github.com/SmrutAI/smritea-sdk/go => ./../../polyglot/smritea-sdk/go
	github.com/tushar2708/conveyor => ./../conveyor
)
